aniso8601==9.0.1
ansible==5.0.1
ansible-core==2.12.1
ansible-lint==5.3.1
beautifulsoup4==4.10.0
bracex==2.2.1
certifi==2022.12.7
cffi==1.15.0
charset-normalizer==2.0.9
click==8.0.3
colorama==0.4.4
commonmark==0.9.1
coverage==5.5
cryptography==36.0.1
deprecation==2.1.0
enrich==1.2.6
eyed3==0.9.6
feedgen==0.9.0
filetype==1.0.8
Flask==2.0.2
Flask-RESTful==0.3.9
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
lxml==4.9.1
MarkupSafe==2.0.1
more-itertools==8.12.0
packaging==21.3
pendulum==2.1.2
pycparser==2.21
Pygments==2.10.0
pyparsing==3.0.6
python-dateutil==2.8.2
pytz==2021.3
pytzdata==2020.1
PyYAML==6.0
requests==2.26.0
resolvelib==0.5.4
rich==10.16.1
ruamel.yaml==0.17.17
ruamel.yaml.clib==0.2.6
six==1.16.0
soupsieve==2.3.1
tenacity==8.0.1
toml==0.10.2
urllib3==1.26.7
wcmatch==8.3
Werkzeug==2.0.2
