ansible==7.2.0
ansible-core==2.14.2
ansible-lint==5.3.1
bracex==2.3.post1
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.0.12
cryptography==39.0.1
deprecation==2.1.0
enrich==1.2.7
eyeD3==0.9.5
filetype==1.2.0
idna==3.4
Jinja2==3.1.2
markdown-it-py==2.2.0
MarkupSafe==2.1.2
mdurl==0.1.2
more-itertools==8.12.0
packaging==23.0
pendulum==2.1.2
pycparser==2.21
Pygments==2.14.0
python-dateutil==2.8.2
pytzdata==2020.1
PyYAML==6.0
requests==2.26.0
resolvelib==0.8.1
rich==13.3.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
six==1.16.0
tenacity==8.2.1
urllib3==1.26.14
wcmatch==8.4.1
