ansible==7.2.0
ansible-core==2.14.3
ansible-lint==5.3.1
bracex==2.3.post1
cffi==1.15.1
cryptography==41.0.2
enrich==1.2.7
Jinja2==3.1.2
markdown-it-py==2.2.0
MarkupSafe==2.1.2
mdurl==0.1.2
packaging==23.0
pycparser==2.21
Pygments==2.14.0
PyYAML==6.0
resolvelib==0.8.1
rich==13.3.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
tenacity==8.2.1
wcmatch==8.4.1
